<label for="bio-text">{{localize "FASERIP.details.biography"}}</label>
<textarea id="bio-text" class="bio-text" rows=10 name="system.background.biography">{{ system.background.biography }}</textarea>
