<label for="bio-text">{{localize "FASERIP.details.biography"}}</label>
<textarea id="bio-text" class="bio-text" rows=10 name="system.details.background.biography">{{ system.details.backgound.biography }}</textarea>
