  <option value=0>Zero</option>
  <option value=2>Terrible</option>
  <option value=4>Bad</option>
  <option value=6>Average</option>
  <option value=10>Decent</option>
  <option value=20>Great</option>
  <option value=30>World Class</option>
  <option value=40>Fantastic</option>
  <option value=50>Astounding</option>
  <option value=75>Wondrous</option>
  <option value=100>Phenomenal</option>
  <option value=150>Single-Shift</option>
  <option value=200>Double-Shift</option>
  <option value=500>Triple-Shift</option>
  <option value=1000>Planetary</option>
  <option value=3000>Stellar</option>
  <option value=5000>Cosmic</option>
  <option value=10000>Infinite</option>